/* Defaults */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  color: #555;
  background: white;
}

img {
  max-width: 50%;
  object-fit: cover;
}

/* Layout */

.portfolio {
  width: 100%;
  height: 100vh;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 3fr;
  gap: 2em;
}

.portfolio-title {
  text-align: center;
  font-size: 7rem;
  color: #333;
  grid-column: 1 / -1;
}

.portfolio-card {
  background: white;
  border: 10px solid black;
  padding: 1em;
  /* box-shadow: 0 0 1em rgba(0, 0, 0, .25); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-card-title {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}

.portfolio-card-p {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1em 0;
    padding: 0;
  }
}

/* Auto fit will fit the columns you've defined into the available space. */

/* Auto fill will keep adding in new columns, even if they are empty. */